header {
    background-color: antiquewhite;
    padding: 10px 0 25px 0;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin: auto;
    border-radius: 10px;
    box-shadow: inset;
}
.header-nav{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 10px 0 0 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    list-style: none;
}
.header-nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: large;
}
h1{
    font-size: xx-large;
    margin: 0;
    padding: 0;
}
.contacts{
    background-color: antiquewhite;
    padding: 10px 0 25px 0;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin: auto;
    border-radius: 10px;
    box-shadow: inset;
}
img{
    width: 75px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px bisque;
    margin: 15px;
}
h2{
    font-size: X-large;
    margin: 0;
    padding: 0;
}
label{
    font-size: larger;
    font-weight: bold;
    background-color: rgb(47, 47, 201);
    color: rgb(78, 72, 72);
}
.commentaires{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:rgb(78, 72, 72);
}
.message{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:rgb(78, 72, 72);
    resize: none;
    scrollbar-width: thin;
    
}